* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0;
}
.page-container {
	width: 50%;
}
header {
	height: 50px;
	margin-bottom: 100px;	
}
.highscores {
	margin: 10px;
	float: left;
}

.timer {
	display: flex;
	align-items: center;/*center timer in the middle of header*/
	float: right;
}

#timeleft-label {
	margin-right: 10px;
}

main {
	width: 100%;
	height: auto;
}

.card-start-container.show {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-start-container.hide {
	width: 100%;
	display: none;
	justify-content: center;
}

.card-start {
	display: block;
	width: 50%;
	margin: 15px;	
}

.start-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-question.show {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-question.hide {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#card-question-header {
	text-align: center;
}
#card-question-text {
	text-align: center;
}

.card-question-answers {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-question-answers ol{
	width: 50%;
}

.card-final-score-container.show {
	display: flex;
	justify-content: center;
}

.card-final-score-container.hide {
	display: none;
	justify-content: center;
}
