* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0;
}
.page-container {
	width: 50%;
}
header {
	height: 50px;
	margin-bottom: 100px;	
}
.highscores {
	margin: 10px;
	float: left;
}

.timer {
	display: flex;
	align-items: center;/*center timer in the middle of header*/
	float: right;
}
.timer p {
	display: inline;
}

main {
	width: 100%;
	height: auto;
}

.card-start-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-start {
	display: block;
	width: 50%;
	margin: 15px;	
}

.start-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-question {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
}
#card-question-header {
	text-align: center;
}
#card-question-text {
	text-align: center;
}

.card-question-answers {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-question-answers ol{
	width: 50%;
}

.card-final-score-container {
	display: none;
	justify-content: center;
}